<!-- needs to use inventory list and inventory -->
<!-- try dropdown for wraps -->
    <style>
        .body {
            background-color: orange;
            font-size: 20px;
            color: white;
            padding: 5px;
            margin: 10px;
            font-family: 'Cantarell', sans-serif;
            font-weight: bold;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    </style>

{% extends 'base.html' %}
{% block body %}
<div class="body">

    <form method="POST"> 
        <h2>Custom Burger Select</h2>
        <h3>Burger Type</h3>
        {% if request.form['burger_type'] == '1' %}
            <input type="radio" name="burger_type" value="1" checked/>Single Burger (1 patty, 2 buns)<br>
            <input type="radio" name="burger_type" value="2"/>Double Burger (2 patties, 3 buns)<br> 
        {% elif request.form['burger_type'] == '2' %}
            <input type="radio" name="burger_type" value="1"/>Single Burger (1 patty, 2 buns)<br>
            <input type="radio" name="burger_type" value="2" checked/>Double Burger (2 patties, 3 buns)<br>  
        {% else %}
            <input type="radio" name="burger_type" value="1"/>Single Burger (1 patty, 2 buns)<br>
            <input type="radio" name="burger_type" value="2"/>Double Burger (2 patties, 3 buns)<br>
        {% endif %}

        {% if check_burger_type == False %}
            <font color="red">Must choose a burger type</font>
        {% endif %} 
        <h3>Burger Bun</h3>
        {% for food in food_list %}
            {% if inventory.inv[food].class_type() == 'Buns' %} 
                {% if food in errors %}   
                    <input type="radio" name="bun"/>{{food}} ({{inventory.inv[food].price}}$)
                    <font color="red">{{errors[food]}}</font><br>
                {% else %}
                    {% if request.form['bun'] == food %}
                        <input type="radio" name="bun" value="{{food}}" checked/>
                                                  {{food}} ({{inventory.inv[food].price}}$)<br>
                    {% else %}  
                        <input type="radio" name="bun" value="{{food}}"/>
                                          {{food}} ({{inventory.inv[food].price}}$)<br>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if check_bun == False %}
            <font color="red">Must choose a bun</font>
        {% endif %} 
        <h3>Patties</h3>
        {% for food in food_list %}
            {% if inventory.inv[food].class_type() == 'Paddies' %}   
                {% if food in errors %}   
                    <input type="radio" name="patty"/>{{food}} ({{inventory.inv[food].price}}$)
                    <font color="red">{{errors[food]}}</font><br>
                {% else %}  
                    {% if request.form['patty'] == food %}
                        <input type="radio" name="patty" value="{{food}}" checked/>{{food}} ({{inventory.inv[food].price}}$)<br>
                    {% else %}
                        <input type="radio" name="patty" value="{{food}}"/>{{food}} ({{inventory.inv[food].price}}$)<br>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

<!-- compute add main servings -->
        <h3>Add ons</h3>
        {% for food in food_list %}
            {% if inventory.inv[food].type == 'main' %}  
                {% if food in errors %}
                    <input name="{{food}}"/>
                    {{food}} ({{inventory.inv[food].price}}$)
                    <font color="red">{{errors[food]}}</font><br>  
                {% else %}
                    <input name="{{food}}" value="{{request.form[food]}}" />
                    {{food}} ({{inventory.inv[food].price}}$)<br>
                {% endif %}
            {% endif %}
        {% endfor %}

    <br>
    {% include 'main_order_check.html' %}   
</div>
{% endblock %}

